*
{
    margin: 0px;
    padding: 0px;
    border: 0px;   
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.clear 
{
    clear: both;    
}

/********************/
/* General settings */
/********************/

.fill
{
    background-color: rgba(255,255,255,0.2);
}

.fillDiagonal1
{
    background-image: -webkit-gradient( 
	    linear,
	    left top,
	    right bottom,
	    color-stop(0.5, rgba(255,255,255,0.2)),
	    color-stop(0.5, rgba(255,255,255,0.0)));
}

.lineBottom
{
    border-bottom: solid 1px white;
}

.lineTop
{
    border-top: solid 1px white;
}

.lineLeft
{
    border-left: solid 1px white;
}

.lineRight
{
    border-right: solid 1px white;
}

hr.diagonal1
{
    background: white;
    -webkit-transform: rotate(-45deg);
    width: 143.413%;
    margin-top: 50%;
    margin-left: -21.9%;
    height: 1px;
}

hr.diagonal2
{
    background: white;
    -webkit-transform: rotate(45deg);
    width: 143.413%;
    margin-top: 50%;
    margin-left: -21.9%;
    height: 1px;
}


/**************************************/
/* GUI Element in the top-left corner */
/**************************************/

#tapir
{
    position:absolute;
}

#tapir #tapir1a 
{
    position:absolute; 
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}

#tapir #tapir1b 
{
    position:absolute;
    top: 100px;
    left: 0px;
    width: 100px;
    height: 100px;
}

#tapir #tapir2a 
{
    position:absolute;
    top: 0px;
    left: 100px;
    width: 100px;
    height: 200px;
}

#tapir #tapir3a 
{
    position:absolute;
    top: 0px;
    left: 200px;
    width: 100px;
    height: 100px;
}

#tapir #tapir3b 
{
    position:absolute;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 100px;
}

#tapir #tapir4a 
{
    position:absolute;
    top: 0px;
    left: 300px;
    width: 100px;
    height: 100px;
}

#tapir #tapir5a 
{
    position:absolute;
    top: 0px;
    left: 400px;
    width: 50px;
    height: 50px;
}

#tapir #tapir5b 
{
    position:absolute;
    top: 50px;
    left: 400px;
    width: 50px;
    height: 50px;
}

#tapir #tapir6a 
{
    position:absolute;
    top: 0px;
    left: 450px;
    width: 50px;
    height: 50px;
}

#tapir #tapir7a 
{
    position:absolute;
    top: 0px;
    left: 500px;
    width: 50px;
    height: 50px;
}
