.wrapper_fps 
{
    position:absolute; 
    width: 100px;
    height: 40px;
    top: 0px;
    right: 20px;
    
    -webkit-transition:
        top 1s ease,
        right 1s ease;
    -webkit-animation: myfirst 1s;
}

.wrapper_fps_hidden
{
    top: -40px;
    right: 20px;
}

.wrapper_fps p, 
.wrapper_fps_hidden p
{
    width: 100%;
    margin: 20px 0 10px 0;
    text-align: center;
    color: white;
    font: bold 10px Verdana;
}