<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="defaultFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss} [${level:uppercase=true}] ${logger:shortName=true}: ${message} ${exception:format=tostring}"/>
  <variable name="gamestateFormat" value="${message}"/>

  <targets>
    <target name="default" xsi:type="File" fileName="${machinename}_${date:format=yyyy-MM-dd}_default.log" layout="${defaultFormat}" />

    <target name="gamestate_server" xsi:type="BufferingWrapper" bufferSize="50000" flushTimeout="5000">
  	  <target xsi:type="File" fileName="${machinename}_${date:format=yyyy-MM-dd}_gamestate_server.log" layout="${gamestateFormat}" deleteOldFileOnStartup="true"/>
  	</target>
    <target name="gamestate_client" xsi:type="BufferingWrapper" bufferSize="50000" flushTimeout="5000">
      <target xsi:type="File" fileName="${machinename}_${date:format=yyyy-MM-dd}_gamestate_client.log" layout="${gamestateFormat}" deleteOldFileOnStartup="true"/>
    </target>
  </targets>

  <rules>
    <logger name="GameStateServer" minlevel="Trace" writeTo="gamestate_server" final="true" />
    <logger name="GameStateClient" minlevel="Trace" writeTo="gamestate_client" final="true" />
    <logger name="*" minlevel="Debug" writeTo="default" />
  </rules>
</nlog>
