<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="defaultFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss} [${level:uppercase=true}] ${logger:shortName=true}: ${message} ${exception:format=tostring}"/>

  <targets>
    <target name="default" xsi:type="File" fileName="${machinename}_${date:format=yyyy-MM-dd}_default.log" layout="${defaultFormat}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="default" />
  </rules>
</nlog>
