<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Space.Tools.DataEditor.DataEditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Space.Tools.DataEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Space.Tools.DataEditor.DataEditorSettings>
      <setting name="LastOpenedFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowBounds" serializeAs="String">
        <value>100, 100, 640, 480</value>
      </setting>
      <setting name="ContentProjects" serializeAs="String">
        <value />
      </setting>
      <setting name="LastOpenedImageAsset" serializeAs="String">
        <value />
      </setting>
      <setting name="ContentRootDirectory" serializeAs="String">
        <value>data</value>
      </setting>
      <setting name="MainSplit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OuterSplit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InnerSplit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IssuesFactoryWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IssuesPropertyWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IssuesDescriptionWidth" serializeAs="String">
        <value>0</value>
      </setting>
    </Space.Tools.DataEditor.DataEditorSettings>
    <Space.Tools.DataEditor.Settings>
      <setting name="LastOpenedFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowBounds" serializeAs="String">
        <value>100, 100, 640, 480</value>
      </setting>
    </Space.Tools.DataEditor.Settings>
  </userSettings>
</configuration>
